* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-image: url(download.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    padding: 20px;
    width: 350px;
}
form p {
    font-weight: 500;
    text-align: center;
}
form h1 {
    text-align: center;
}
header {
    line-height: 50px;
}
.input-box {
    width: 100%;
    border-radius: 50px;
    border: transparent;
    background-color: rgba(129, 228, 235, 0.5);
    height: 30px;
    outline: none;
    padding-left: 20px;
}
input::placeholder {
    padding: 30px;
    color: white;
    font-size: 15px;
}
.input {
    margin-bottom: 20px;
    line-height: 40px;
}
button {
    width: 100%;
    border-radius: 50px;
    border: transparent;
    background-color:white;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.remember {
    display: inline;
    line-height: 50px;
}
a {
    float: right;
    text-decoration: none;
    line-height: 50px;
}
